body{
    background-color: #efefef;

}

@media (max-width:768px) {
    .main{
        background-color: white;
        margin: 2px;
    }
    .navbar-default{
        margin-bottom: 5px;
    }
    .form-control{
        display: inline;
        width: 100%;
        margin-right: 10px;
    }
    nav ul{
        float: right;
    }
    .nav>li{
        display: inline-block;
    }

    .nav>li>a {
        padding: 10px 15px;
    }
    #bs-example-navbar-collapse-1  input{
        width: 82%;
    }
    #bs-example-navbar-collapse-1  button{
        width: 15%;
    }


}

@media (min-width: 769px) {
    .main{
        background-color: white;
        margin: 10px 30px;
    }
}


.img_avatar{
    width: 40px;
    height: 40px;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}


.profile .section{
    margin-top: 15px;
}

.community-menu{
    color :#999;
    font-size: 13px;
    display: block;
    margin-bottom: 15px;
}

/*头像右边的用户名，位置*/
.media-body{
    padding-top: 10px;
}

.comment{
    margin: 10px 0;
}

.btn-comment{
    float:right;
    margin-bottom: 10px;
}
.comments{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}
.sub-comments{
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid #eee;
    padding-top: 10px;
    margin-bottom: 10px;
}
.sub-comments .btn{
    margin: 6px 0;
}

.comment-sp{
    margin-top: 0;
}
.menu{
    color: #999;
    margin-top: 5px;
}
.menu .icon{
    margin-right:10px;
    font-size:15px;
    cursor:pointer;
}

.menu .comment-icon{
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon:hover{
    color: #499ef3;
}

.menu .icon:hover{
    color: #499ef3;
}
.menu .active{
    color: #499ef3;
}